## Keyword arguments in Python

1. **kwargs
2. kwargs acts like a dictionary

In [1]:
d = {
    "name" : "Utkarsh",
    "age" : 28,
    "married" : True
}
type(d)

dict

In [2]:
d

{'name': 'Utkarsh', 'age': 28, 'married': True}

In [3]:
d.keys()

dict_keys(['name', 'age', 'married'])

In [4]:
d.items()

dict_items([('name', 'Utkarsh'), ('age', 28), ('married', True)])

In [5]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [6]:
function(name="Sarthak", age=24)

{'name': 'Sarthak', 'age': 24}
<class 'dict'>
name : Sarthak
age : 24

In [7]:
function(Tea=10, milk=15)

{'Tea': 10, 'milk': 15}
<class 'dict'>
Tea : 10
milk : 15

In [8]:
d

{'name': 'Utkarsh', 'age': 28, 'married': True}

In [9]:
function(**d)

{'name': 'Utkarsh', 'age': 28, 'married': True}
<class 'dict'>
name : Utkarsh
age : 28
married : True

### Practical example for kwargs
Perform billing for a restauraunt , provided the menu including taxes

In [10]:
menu = {
    "burger":150,
    "pizza" : 270,
    "sandwich" : 100,
    "pasta" : 250,
    "coffee" : 50
}

In [11]:
menu.get("pasta")

250

In [12]:
a=  menu.get("samosa")

In [13]:
print(a)

None

In [20]:
def hotel_bill(**kwargs):
    bill = 0
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            amt = price*qty
            bill = bill + amt
            print(f"Food Item : {food}, price : {price:.2f} INR Qty : {qty}, Subtotal : {amt:.2f} INR")
    print(f"Total billing amount is : {bill:.2f} INR")
    return bill

In [21]:
b1= hotel_bill(burger=2, coffee=1)

Food Item : burger, price : 150.00 INR Qty : 2, Subtotal : 300.00 INR
Food Item : coffee, price : 50.00 INR Qty : 1, Subtotal : 50.00 INR
Total billing amount is : 350.00 INR

In [22]:
b2= hotel_bill(pizza=3, sandwich=4)

Food Item : pizza, price : 270.00 INR Qty : 3, Subtotal : 810.00 INR
Food Item : sandwich, price : 100.00 INR Qty : 4, Subtotal : 400.00 INR
Total billing amount is : 1210.00 INR

In [23]:
b2

1210

In [24]:
b2

1210